* {
    margin: 0;
    padding: 0;
}

.login {
    display: flex;
    align-items: center;
    height: 100vh;

    .left-page {
        width: 55%;
        background-color: red;
        height: 100vh;
    }
    .right-page {
        width: 45%;

        & > label {
            text-align:center;
            display: block;
        }

        & > input {
            display: flex;
            flex-direction: column;
            margin: auto;
        }

        & > div {
            margin: auto;
        }
    }
}