* {
    margin: 0;
    padding: 0;
}

.login {
    display: flex;
    align-items: center;
    height: 100vh;

    .left-page {
        width: 55%;
        background-color: red;
        height: 100vh;
    }
    .right-page {
        width: 45%;
        background-color: green;
    }
}